@media (max-width: 991px) {
	.img-fluid{
		width: 150px;
	}

	.navbar button.navbar-toggler{
		margin-top: 5px;
	}
}

body{
	font-family: 'Open-sans', sans-serif;
	margin: 0;
	padding: 0;
}

nav{
	width:100%;
	background-color: #0E3759;
	color: white;
  	font-family: "Monserrat", sans-serif;
  	font-weight: 100;
  	padding: 8px 10px !important;
	text-transform: uppercase;
}

.left{
	text-align: left;
	
}
.right {
	text-align: right;
	padding-top: 26px;
}

.portada-ppal {
 	height: 400px;
 	background-image:url("../img/portada.jpg");
 	background-repeat: no-repeat;
  	background-size: cover;
  	border-radius: 0px;
  	position: relative;
	font-weight: 600;
	font-size: 30px;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	padding-top: 10%;

}

.intro-cita{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
	font-weight: 100;
	font-size: x-large;
}

.convenios-img {
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

h1{
	text-align: center;
	color: #0f3958;
	font-family: Gill Sans;
	padding-top: 50px;
}

h2{
	text-align: center;
    color: #767778
}

.img-center{
	text-align: center;
}

footer{
	width:100%;
	background-color: #676f77;
	color: white;
  	font-family: "Monserrat", sans-serif;
	list-style: none;
	padding: 60px 40px 0px 40px;
}

address{
	font-size: small;
}

.end{
	text-align: center;
}

p.fin {
	padding-bottom: 0;
	clear: both;
}

.colaboradores{
	text-align: center;
}

.feed-fotos{
	text-align: center;
	padding: 20px;
	background-color: #E7EDF1;
	margin-bottom: 100px;
}

.centrar-caja{
    margin: auto;
}

.thumbnail img{
	width: 100%;
}

.fotos-perfil img{
	border-radius: 50%;
	width: 30%;
}

.circulos-caja{
	text-align: center;
	padding: 20px;
	background-color: #white;
	margin-bottom: 100px;
	border-color: #5283A3;
	border: 2px;
}
.feed-prev-title{
	background-color: #5283A3;
	color: #D4DBDB;
	text-align: left;
	padding-left: 6px;
	font-weight: 200;
	font-size: large;
}

.feed-prev-text{
	padding-top: 10px;
	text-align: left;
	font-size: small;
}

.titulo-cifodidh p{
	color: #ffffff; 
	text-align: center;
}

.contacto-form{
	display: inline;
}

.contacto-cab{
	padding-top: 0;
}

#contacto-form .clearfix{
	padding-bottom: 30px;
}

#contacto-form input, #contacto-form textarea{
	margin-bottom: 10px;
}

#contacto-form textarea{
	height: 150px;
}

div#menu-responsivo{
	z-index: 10;
}

.pull-right{
	float: right !important;
}
